{
  "locations": ["'/Volumes/untitled/Bilibili Download'",
                "'/Volumes/untitled/Bilibili Download/Collections'",
                "'/Volumes/untitled/Backup'",
                "'/Volumes/untitled/Movies'",
                "'/Users/wangxiaomei/Local Documents'"],
  "keyfiles": ["'/Users/wangxiaomei/Documents/Database.kdbx'"],
  "cookieloc": "'/Users/wangxiaomei/Library/Application Support/Firefox/Profiles/rw2z7csr.dev-edition-default/cookies.sqlite'"
}
